<div id="submit-reply">
  <br>
<%= form_for :reply, :url => {:action => 'create', name: "#{comment.id}"}, :html => {id: 'new_reply'} do |f| %>
<%= f.text_area(:text, size: '60x4', maxlength: 140)  %>
 <%= f.submit 'Submit' %>
 <% end %>
</div>
