<div id="submit-caption">
<%= form_tag :action => 'create', :id => @reply %>
<%= text_area "reply", "text", "cols" => 60, "rows" => 4, "maxlength" => 140, "placeholder" => "Submit a reply " %>
 <%= submit_tag( "Submit" ) %>
</div>
