<h1>HI I"M A COMMENTS/NEW WOOOO! MAKE ME A PARTIAL SO I CAN CONNECT TO A POST</h1>

<div id="submit-caption">
<%= form_tag :action => 'create', :id => @comment %>
<%= text_area "comment", "text", "cols" => 20, "rows" => 10, "placeholder" => "Submit a comment " %>
 <%= submit_tag( "Submit" ) %>
</div>

<!-- to render use this: <#%=# render "comments/new" %>-->
