<a href="/posts">Animaux!</a>
      <nav>
          <ul>
            <li><%= link_to "My Animaux", my_animaux_path(id: current_user.id), id: 'signup-link' %></li>
            <li><%= link_to "Log Out", log_out_path %></li>
          </ul>

      </nav>
