<div id="submit-tag">
  Add a Tag:
<%= form_for :tag, :url => {action: 'create', name: "#{@post.id}"}, :html => {id: 'new_tag'}  do |f| %>
<%= f.text_area(:name, size: '10x1', maxlength: 80)  %>
 <%= f.submit 'Submit' %>
 <% end %>
</div>

