<h1>Animaux!</h1>
<h4>One stop for all the internet's cutest animals</h4>

<div>
  <ul>
<% @posts.each do |post| %>
<li><%= link_to image_tag(post.image_url), post_path(id: post.id) %>  </li>
<% end %>
</ul>
</div>


