@import "bourbon";
@import "neat";
@import "constants";

.tile-images {
  margin-left: -3%;
}

.tile-images li {
    display: inline-block;
    list-style: none;
    max-width: 22%;
    margin-right: 2%;
  }

  #manage-posts {

  }