@import "bourbon";
@import "neat";
@import "constants";

.tile-images {
  margin-left: -3%;
}

.tile-images li {
    display: inline-block;
    list-style: none;
    max-width: 22%;
    margin-right: 2%;
    margin-top: 1%;
  }

  .image .stats {
    max-width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 1%;
    margin-top: -14%;
    font-size: 1em;
  }