@import "bourbon";
@import "neat";
@import "constants";

.post-container {
  max-width: 50%;
  margin: 1% auto;
  padding: 1% 3% 4% 3%;
  background-color: #dddddb;
}

.post-container img {
  max-width: 100%;
  margin: 1% auto;
  padding: 1% 3% 1% 3%;
  background-color: #dddddb;
}

.post-container #votes {
  max-width: 100%;
  position: relative;
  padding: 1%;
  margin-top: -1%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.like_post_form {
  margin-right: 2%;
  float: left;
  max-width: 25%;
}

.dislike_post_form {
  margin-right: 2%;
  float: left;
  max-width: 25%;
}

#post_points {
  margin-right: 2%;
  float: left;
  max-width: 25%;
}

#tags {
  float: right;
  vertical-align: bottom;
  max-width: 60%;
  line-height: 2em;
  margin-top: -.5%;
}

.single-tag {
  background-color: #EB9C4D;
  padding: 0 1% 0 1%;
  border-radius: 5px;
}

.post-comments-container {
  clear: both;
}

#new-comment {
  max-width: 50%;
  margin: 1% auto;
  padding: 1% 3% 1% 3%;
  background-color: #EB9C4D;
  border-radius: 5px;
}

.like_comment_form {
  margin-right: 2%;
  float: left;
  max-width: 25%;
}

.dislike_comment_form {
  margin-right: 2%;
  float: left;
  max-width: 25%;
}

.like_reply_form {
  margin-right: 2%;
  float: left;
  max-width: 25%;
}

.dislike_reply_form {
  margin-right: 2%;
  float: left;
  max-width: 25%;
}