@import "bourbon";
@import "neat";
@import "constants";

.images-container {
  clear: both;
}

.images-container p {
  text-align: center;
}

.tile-images {
  margin: auto;
}

.tile-images ul {
  margin-left: -2%;
}

.tile-images li {
    display: inline-block;
    list-style: none;
    max-width: 23.5%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: $gray;
    padding: 1%;
  }

.tile-images img {
    max-width: 100%;
    vertical-align: bottom;
  }

.image .stats {
  max-width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 2%;
  margin-top: -10%;
  font-size: .85em;
}

.sort-posts {
  max-width: 10.5%;
  background-color: $orange;
  padding: .5%;
  font-size: .85em;
  float: left;
  margin: 1%;
  font-weight: bold;
}

.recent-posts {
  max-width: 10.5%;
  background-color: $orange;
  padding: .5%;
  font-size: .85em;
  float: left;
  margin: 1%;
  font-weight: bold;
}

.new-post {
  max-width: 10.5%;
  background-color: $orange;
  padding: .5%;
  font-size: .85em;
  float: right;
  margin: 1% 2% 1% 1%;
  font-weight: bold;
}

#delete-account {
  max-width: 10.5%;
  background-color: $orange;
  padding: .5%;
  font-size: .85em;
  float: right;
  margin: 1% 2% 1% 1%;
  font-weight: bold;
  vertical-align: bottom;
}

.edit-image {
  margin-top: 3%;
  margin-right: 5%;
  float: left;
}

.delete-image {
  margin-top: 3%;
  float: left;
}

#submit-reply {
  padding-top: 4%;
}

#submit-caption {
  padding-top: 4%;
}