@import "bourbon";
@import "neat";
@import "constants";

.post-container {
  max-width: 50%;
  margin: 1% auto;
  padding: 1% 3% 4% 3%;
  background-color: $gray;
  position: relative;
}

.post-container img {
  max-width: 100%;
  margin: 1% auto;
  padding: 1% 3% 1% 3%;
}

.post-container #votes {
  max-width: 100%;
  position: relative;
  padding: 1%;
  margin-top: -1%;
  margin-left: 2%;
  background-color: $gray;
}

.like_post_form {
  margin-right: 2%;
  float: left;
  max-width: 20%;
}

.dislike_post_form {
  margin-right: 2%;
  float: left;
  max-width: 20%;
}

#post_points {
  margin-right: 2%;
  float: left;
  max-width: 20%;
}

#tags {
  float: left;
  line-height: 2em;
  margin-top: -1.5%;
  margin-right: 0%;
  width: 64%;
}

.single-tag {
  background-color: $orange;
  padding: 0 1% 0 1%;
  border-radius: 5px;
}

#add_tags {
  background-color: $orange;
  padding: 0 1% 0 1%;
  border-radius: 5px;
}

#new-tag {
  display: none;
  max-width: 50%;
  margin: 1% auto;
  padding: 1% 3% 1% 3%;
  background-color: $gray;
  position: relative;
}