@import "normalize";
@import "bourbon";
@import "neat";
@import "constants";
@import "header";

body {
  background-color: #E4F5B1;
}

.container {
  margin: 2% 5% auto;
  background-color: #E4F5B1;
  font-family: $body-font;
}

a {
  color: $a-color;
  text-decoration: none;
}

a:hover {
  color: darken($a-color, 5);
}