@import "normalize";
@import "bourbon";
@import "neat";
@import "constants";
@import "header";

body {
  background-color: #BAC9A9;
}

.container {
  margin: 2% 5% auto;
  background-color: #BAC9A9;
  font-family: $body-font;
}

a {
  color: $a-color;
  text-decoration: none;
}

a:hover {
  color: darken($a-color, 10);
}