<!DOCTYPE html>
<html>
<head>
  <title>Adventure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="logo">Animaux!</div>
    <nav>
      <% if session[:user_id] %>
      <ul>
        <li>My Animaux</li>
        <li>
  </header>

<%= yield %>

</body>
</html>
